<ul class="news {% if current_path == '/' %}horizontal{% endif %}">
    {% for newsitem in news %}
    <li>
        <div>
            <p class="badge">Bloemen</p>
            <h2>{{ newsitem.title }}</h2>
        </div>
        <img src="https://fdnd-agency.directus.app/assets/{{ newsitem.image }}" alt="">
        {% if current_path == '/' %}
            <p>{{ newsitem.body }}</p>
        {% endif %}
    </li>
    {% endfor %}
</ul>