    {% render 'partials/head.liquid' %}
    <header>
        <a href="/">
            <img src="/assets/images/logo_transparent.webp" alt="">
        </a>
    </header>
    <main class="welcome">
        <section>
            {% render 'partials/carousel.liquid', 
                titlestep1:'Welkom bij de digitale map van het bloemenveld', 
                descriptionstep1:'Een digitale ervaring waarmee u op een simpele en leuke manier het bloemenveld leert kennen door het veld de ervaren via de interactieve kaart van het veld.',
                contentstep1:'/assets/images/map-image.webp',

                titlestep2:'De zones van het bloemenveld',
                descriptionstep2:'Op de digitale map van het bloemenveld staan meerdere zones uitgelicht, klik hierop voor een korte opdracht.',
                contentstep2:'/assets/images/map-image.webp',

                titlestep3:'Veel plezier',
                descriptionstep3:'Je ziet een digitale kaart met informatie over de gekozen bloem of plant. Deze wordt automatisch opgeslagen in je collectie.',
                contentstep3:'/assets/images/map-image.webp',

                titlestep4:'Klaar met de opdracht?',
                descriptionstep4:'Je bent klaar om het veld te ontdekken! Er is geen vaste route, ontdek hoe je het zelf wilt Voltooi alle opdrachten voor een leuke beloning.',
                contentstep4:'/assets/images/collection-explain.webp',
            %}
        </section>
    </main>
</body>
</html>