{% render 'partials/head.liquid' %}

{% render 'partials/zone-header.liquid', 
    plants: zone.plants, 
    zone_type: zone.type, 
    zone_name: zone.name 
%}

<main class="zone">

{% render 'partials/flowerlist.liquid', 
    plants: zone.plants, 
    zone_type: zone.type, 
    zone_slug: zone.slug 
%}

</main>
{% render 'partials/foot.liquid', current_path: current_path %}