@font-face {
    font-family: headings;
    src: url(/assets/fonts/heading-font.ttf);
}

@font-face {
    font-family: main;
    src: url(/assets/fonts/main-font.ttf);
}

@font-face {
    font-family: italic;
    font-style: italic;
    src: url(/assets/fonts/italic-font.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

img, video {
    width: 100%;
    max-width: 400px;
    height: auto;
}

body {
    /* font sizes */
    --paragraph: clamp(1rem, 2vw, 1.3rem);
	--heading-small: clamp(1.2rem, 2vw, 1rem);
	--heading-medium: clamp(1.4rem, 2.7vw, 2.2rem);
	--heading-big: clamp(1.4rem, 3vw, 2.5rem);
}


h1, h2, h3, h4, h5, h6 {
    
    font-family: headings;
    font-weight: 600;
    font-size: var(--heading-big);
}

h3, h4 {
    font-size: var(--heading-medium);
}

h5, h6 {
    font-size: var(--heading-small);
}

p,a,button {
    font-family: main;
    font-weight: 400;
    font-size: var(--paragraph);
    text-decoration: none;
}

p.italic {
    font-family: italic;
    font-weight: 400;
}

svg {
    width: 1.5625rem;
    height: 1.5625rem;
}


/* link styling global */

/* general link button look */
a.styled {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35%;
    height: 2.5rem;
    border-radius: 0.625rem;
    color: black;

    /* filled link button look */
    &.primary {
        background-color: #3C3C3C;
        color: white;
    }
    
    /* outlined link button look */
    &.secondary {
        background-color: transparent;
        border: black 2px solid;
        
    }

    /* finished link button look */
    &.klaar {
        background-color: #058a36;
        color: white;
    }
}



/* TESTING */

/* The container that scrolls */
main.veldverkenner {
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    position: relative;
    -webkit-overflow-scrolling: touch; /* Smooth scroll for iOS */
}

/* The area containing the SVG and the Pin */
main.veldverkenner section {
    position: relative; /* Pin is positioned relative to this */
    width: 100%;        /* Width of your SVG */
    line-height: 0;     /* Removes weird gaps under SVG */
}

/* Your GPS Marker */
#user-location-pin {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: #ff0000;
    border: 2px solid white;
    border-radius: 50%;
    transform: translate(-50%, -50%); /* Centers the pin on the point */
    z-index: 100;
    transition: left 0.5s linear, top 0.5s linear; /* Smooth movement */
    pointer-events: none;
} 
